$primary-color: #3498db;
$secondary-color: #2ecc71;

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
}

.rain {
  background-image: url("https://images.pexels.com/photos/459451/pexels-photo-459451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.cloud {
  background-image: url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.sun {
  background-image: url("https://images.pexels.com/photos/912364/pexels-photo-912364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.overcast {
  background-image: url("https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.mist {
  background-image: url("https://images.pexels.com/photos/1668914/pexels-photo-1668914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.snow {
  background-image: url("https://images.pexels.com/photos/773953/pexels-photo-773953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.sleet {
  background-image: url("https://images.pexels.com/photos/773953/pexels-photo-773953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.fog {
  background-image: url("https://images.pexels.com/photos/978844/pexels-photo-978844.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.drizzle {
  background-image: url("https://images.pexels.com/photos/7002973/pexels-photo-7002973.jpeg");
}

.main-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

// Add more styles as needed

.App {
  text-align: center;

  h1 {
    color: $primary-color;
  }

  input {
    padding: 8px;
    margin-right: 8px;
  }

  button {
    background-color: $secondary-color;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
  }

  p {
    margin: 8px 0;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  p.loading {
    color: $secondary-color;
    font-weight: bold;
    animation: spin 1s linear infinite;
  }
}
